.card{
  width: 570px;
  height: auto;
  padding: 20px;
  background: #fff;
  margin-right: 30px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  @media screen and (max-width:769px) {
      &{
        width: 100%;
        flex: 1;
        margin: 0;
      }
  }
  @media screen and (max-width:1240px) {
      &{
        margin-right: 0;
      }
  }
}